![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [231]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36        1.0
1       29725   city_40  ...              47        0.0
2       11561   city_21  ...              83        0.0
3       33241  city_115  ...              52        1.0
4         666  city_162  ...               8        0.0

[5 rows x 14 columns]

In [232]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

# Start coding here. Use as many cells as you like!

In [240]:
for col in ds_jobs.select_dtypes("object").columns:
    print(ds_jobs_transformed[col].value_counts(), '\n')

city_103    805
city_16     211
city_114    167
city_21     157
city_160     72
           ...
city_55       0
city_121      0
city_120      0
city_2        0
city_129      0
Name: city, Length: 123, dtype: int64

Male      1654
Female     145
Name: gender, dtype: int64

True    2201
Name: relevant_experience, dtype: int64

no_enrollment       1960
Full time course     122
Part time course     103
Name: enrolled_university, dtype: int64

Graduate          1243
Masters            744
Phd                115
High School         75
Primary School       7
Name: education_level, dtype: int64

STEM               1892
Humanities           73
Business Degree      48
Other                35
Arts                 21
Name: major_discipline, dtype: int64

>20    859
10     245
15     172
11     149
14     147
16     128
12     107
13     103
17      91
19      83
18      68
20      49
2        0
4        0
5        0
1        0
3        0
9        0
8        0
7        0
6        0
<1       0
Name: experience, dtype: int64

10000+       1095
1000-4999     796
5000-9999     310
<10             0
10-49           0
50-99           0
100-499         0
500-999         0
Name: company_size, dtype: int64

Pvt Ltd                1807
Public Sector           228
NGO                      87
Other                    22
Early Stage Startup       0
Funded Startup            0
Name: company_type, dtype: int64

>4       828
1        608
2        347
4        172
3        155
never     74
Name: last_new_job, dtype: int64

In [234]:
# to booleans
# gender
ds_jobs_transformed["gender"] = ds_jobs_transformed["gender"].astype("category")
ds_jobs_transformed["gender"] = ds_jobs_transformed["gender"].cat.set_categories(
    new_categories =["Male", "Female"])

# relevant_experience
ds_jobs_transformed["relevant_experience"] = ds_jobs_transformed["relevant_experience"].astype("bool")

# job_change
ds_jobs_transformed["job_change"] = ds_jobs_transformed["job_change"].astype("bool")

In [235]:
 
# int32
ds_jobs_transformed["student_id"] = ds_jobs_transformed["student_id"].astype("int32")
ds_jobs_transformed["training_hours"] = ds_jobs_transformed["training_hours"].astype("int32")

#float16
ds_jobs_transformed["city_development_index"] = ds_jobs_transformed["city_development_index"].astype("float16")

In [236]:
# nominal categorical
ds_jobs_transformed["major_discipline"] = ds_jobs_transformed["major_discipline"].astype("category")
ds_jobs_transformed["major_discipline"] = ds_jobs_transformed["major_discipline"].cat.set_categories(
    new_categories =["STEM", "Humanities", "Other", "Business Degree", "Arts"])

ds_jobs_transformed["company_type"] = ds_jobs_transformed["company_type"].astype("category")
ds_jobs_transformed["city"] = ds_jobs_transformed["city"].astype("category")

In [237]:
#ordinal categorical

#education level
ds_jobs_transformed["education_level"] = ds_jobs_transformed["education_level"].astype("category")
ds_jobs_transformed["education_level"] = ds_jobs_transformed["education_level"].cat.set_categories(
    new_categories =["Primary School", "High School", "Graduate", "Masters", "Phd"],
    ordered=True
)
print(ds_jobs_transformed["education_level"].head(3))

# company_size
ds_jobs_transformed["company_size"] = ds_jobs_transformed["company_size"].astype("category")
ds_jobs_transformed["company_size"] = ds_jobs_transformed["company_size"].cat.set_categories(
    new_categories =["<10","10-49","50-99","100-499","500-999","1000-4999","5000-9999","10000+"],
    ordered=True
)
print(ds_jobs_transformed["company_size"].head(3))

# last_new_job
ds_jobs_transformed["last_new_job"] = ds_jobs_transformed["last_new_job"].astype("category")
ds_jobs_transformed["last_new_job"] = ds_jobs_transformed["last_new_job"].cat.set_categories(
    new_categories =["never", "1", "2", "3", "4", ">4"],
    ordered=True
)
print(ds_jobs_transformed["last_new_job"].head(3))

# experience
ds_jobs_transformed["experience"] = ds_jobs_transformed["experience"].astype("category")
ds_jobs_transformed["experience"] = ds_jobs_transformed["experience"].cat.set_categories(
    new_categories =["<1","1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", ">20"],
    ordered=True
)
print(ds_jobs_transformed["experience"].head(3))

#enrolled_university
ds_jobs_transformed["enrolled_university"] = ds_jobs_transformed["enrolled_university"].astype("category")
ds_jobs_transformed["enrolled_university"] = ds_jobs_transformed["enrolled_university"].cat.set_categories(
    new_categories =["no_enrollment", "Part time course", "Full time course"],
    ordered=True
)
print(ds_jobs_transformed["experience"].head(3))

0    Graduate
1    Graduate
2    Graduate
Name: education_level, dtype: category
Categories (5, object): ['Primary School' < 'High School' < 'Graduate' < 'Masters' < 'Phd']
0      NaN
1    50-99
2      NaN
Name: company_size, dtype: category
Categories (8, object): ['<10' < '10-49' < '50-99' < '100-499' < '500-999' < '1000-4999' < '5000-9999' < '10000+']
0        1
1       >4
2    never
Name: last_new_job, dtype: category
Categories (6, object): ['never' < '1' < '2' < '3' < '4' < '>4']
0    >20
1     15
2      5
Name: experience, dtype: category
Categories (22, object): ['<1' < '1' < '2' < '3' ... '18' < '19' < '20' < '>20']
0    >20
1     15
2      5
Name: experience, dtype: category
Categories (22, object): ['<1' < '1' < '2' < '3' ... '18' < '19' < '20' < '>20']

In [238]:
ds_jobs_transformed = ds_jobs_transformed.loc[(ds_jobs_transformed["experience"] >= "10") & (ds_jobs_transformed["company_size"] >= "1000-4999")]

ds_jobs_transformed.head()

    student_id      city  ...  training_hours job_change
9          699  city_103  ...             123      False
12       25619   city_61  ...              23      False
31       22293  city_103  ...             141      False
34       26494   city_16  ...             145      False
40        2547  city_114  ...              14      False

[5 rows x 14 columns]